
body{
  background-color: #c5d5db;
}


h1 {
  font-family: 'Shrikhand';
  font-size: 3em
}

#container{
  width: 95%;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
}


#nav {
  padding: 0;
list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
border-bottom: 1px solid #ccc;
text-decoration: none;
}

#nav a:link, a:visited {
  display:block;
    color: #ffffff;
    background-color: #5a5596;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em
}

#nav a:hover, a:active{
  background-color: #302e51;
}



img{
  border: none;
}

p{
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

#extra{
  font-family: 'Josefin Slab', serif;
}

#footer {
  color: #2d5f73;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  padding: 4px;
  text-align: left;
}
