
body{
  background-color: #c5d5db;
}


h1 {
  font-family: 'Shrikhand';
  font-size: 3em
}

h2{
  font-family: 'Nanum Gothic';
}

.navigation{
  width: 95%;
  margin: 1;
  padding: 1;
  font-family: 'Nanum Gothic', sans-serif;
  flex-flow: column;
  list-style-type: none;
}


#nav_bar li {
  margin: 1;
  padding: 0;
border-bottom: 1px solid #ccc;
text-decoration: none;
flex-flow: column;
}

#nav_bar a:link, a:visited {
  display:block;
    color: #ffffff;
    background-color: #5a5596;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em
}

#nav_bar a:hover, a:active{
  background-color: #302e51;
}

@media (min-width: 500px) {
  .navigation {
    flex-flow: row;
    justify-content: flex-end;
  }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.wrapper{
display: flex;
flex-flow: row-wrap;
}


p{
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

#extra{
  font-family: 'Nanum Gothic', serif;
}

#footer {
  color: #2d5f73;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  padding: 4px;
  text-align: left;
}
